@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 78.5%;
    margin: 0 auto;
}

p {
    font-family: "Inter", sans-serif;
    color: #4E4E4E;
}

:hover * {
    transition-duration: .25s;
}

#header {
    margin-top: 30px;
    margin-bottom: 60px;
}

.navbar {
    width: 78.5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#hero-container {
    margin-bottom: 60px;
    padding: 50px;
    background-color: #FEEAE9;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content * {
    margin-bottom: 8px;
}

.hero-content h1 {
    font-size: 50px;
    font-weight: bold;
    color: #1F1F1F;
}

.hero-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 80%;
    max-width: 800px;
    margin-bottom: 24px;
}

.hero-content h2 {
    color: #FF136F;
    font-size: 40px;
    font-weight: 500;
}

.hero-content .btn {
    padding: 10px 45px;
    text-transform: uppercase;
    border-radius: 6px;
    background-image: linear-gradient(90deg, #FF589B, #FF136F);
    border: 1px solid #FF589B;
    color: white;
}

.hero-content .btn:hover {
    cursor: pointer;
    background-image: linear-gradient(90deg, #fd4c93, #ee0a61);
    box-shadow: 0 8px 20px #f885b3;
    transform: scale(1.05);
}

.hero-img img {
    width: 400px;
}

.hero-img img:hover {
    transform: scale(1.1);
}

.category-content {
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;

}

.title h3 {
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: 600;
}

.category-items {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.product-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 46px;
    width: 33%;
    border-radius: 16px;
}

.product-card:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 8px 10px #92929280;

    img {
        transform: scale(1.1);
        transform: rotate(360deg);
        transition-duration: 0.5s;
    }
}

.product-card h2 {
    font-size: 36px;
    font-weight: 500;
    color: white;
}

#watch {
    background-color: #FF9C35;
}

#watch img {
    width: 68px;
}

#bag {
    background-color: #FF136F;
}

#bag img {
    width: 94px;
}

#shoes {
    background-color: #3F07F8;
}

#shoes img {
    width: 150px;
}

.label {
    margin-bottom: 98px;
    display: flex;
    gap: 24px;
}

.label-card {
    width: 33%;
    border: 1px solid #929292;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 10px #92929230;
}

.label-card:hover {
    cursor: pointer;
    background-color: #92929210;
    box-shadow: 0 8px 10px #929292;

    img {
        transform: scale(1.1);
        transform: translateY(-20%);
        transition-duration: 0.5s;
    }
}

.label-card img {
    width: 100%;
    padding: 24px 12px;
}

.label-info * {
    margin-bottom: 16px;
}

.label-info {
    padding: 24px;
    text-align: center;
}

.label-info h4 {
    font-size: 24px;
    font-weight: 600;
    color: #1F1F1F;
}

.label-info .btn {
    padding: 16px 28px;
    margin-bottom: 0;
    background-color: black;
    color: white;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
}

.label-info .btn:hover {
    cursor: pointer;
    box-shadow: 0 8px 10px #929292;
    transform: scale(1.05);
}

.label-info .btn i {
    margin-bottom: 0;
}

.contact-content {
    padding: 146px 220px;
    background-color: #FFF2F1;
    text-align: center;
    margin-bottom: 75px;
    border-radius: 10px;
}

.contact-content h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.contact-content p {
    margin-bottom: 16px;
}

.contact-content form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-content form input {
    padding: 18px 35px;
    flex: 4;
}

.contact-content form button {
    padding: 18px 48px;
    flex: 1;
}

.contact-content form input {
    outline: none;
    font-size: 24px;
    border: 1px solid #CCCCCC;
    border-radius: 6px 0 0 6px;
}

.contact-content form button {
    font-size: 24px;
    font-weight: 500;
    color: white;
    background: linear-gradient(90deg, #FF589B, #FF136F);
    border: 1px solid #FF589B;
    border-radius: 0 6px 6px 0;
}

.contact-content form button:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #ff3a89, #ce004f);
    box-shadow: 0 8px 10px #ff3a8935;
}

.hidden {
    display: none;
}

/* Responsiveness */

/* Laptop Device (993px - 1200px) */
/* Hero
    Hero Section এর Font প্রয়োজন অনুযায়ী ছোট করে নিবে। */
@media screen and (max-width: 1200px) {
    .hero-content h1 {
        font-size: 36px;
    }

    .hero-content h2 {
        font-size: 34px;
    }

    .hero-img img {
        width: 30vw;
    }

    .product-card {
        padding: 15px 24px;
    }

    .product-card h2 {
        font-size: 32px;
    }

    #watch img {
        width: 60px;
    }

    #bag img {
        width: 86px;
    }

    #shoes img {
        width: 118px;
    }

    .contact-content h3 {
        font-size: 28px;
    }

    .contact-content form input {
        font-size: 18px;
    }

    .contact-content form button {
        font-size: 18px;
    }

}

/* Tablet Device (641px - 992px) */
/* Categories
    wrap হয়ে থাকবে। প্রয়োজন অনুযায়ী নিচে চলে যাবে।
    Products
    কার্ড গুলো নিচে নিচে অবস্থান করবে।
    Newsletter
    Input box প্রয়োজন অনুযায়ী ছোট করে নেবে। */
@media screen and (max-width: 992px) {
    .logo img {
        width: 16vw;
    }

    .menu img {
        width: 5vw;
    }

    #header {
        margin-top: 22px;
        margin-bottom: 30px;
    }

    #hero-container {
        flex-direction: column-reverse;
    }

    .hero-img img {
        width: 50vw;
    }

    .hero-content {
        text-align: center;
    }

    .hero-content p {
        width: 100%;
        font-size: 14px;
    }

    .product-card {
        width: 100%;
        padding: 15px 46px;
    }

    .category-items {
        flex-direction: column;
    }

    .title h3 {
        font-size: 26px;
    }

    .label-card {
        width: 80%;
        margin: 0 auto;
    }

    .label {
        flex-direction: column;
    }

    .label-card img {
        width: 85%;
        padding: 18px 10px 0;
    }

    .label-img {
        text-align: center;
    }

    .label-info {
        padding: 0 24px 24px;
    }

    .label-info h4 {
        font-size: 22px;
    }

    .label-info p {
        font-size: 14px;
    }

    .label-info .btn {
        padding: 10px 20px;
        font-size: 12px;
    }

    .contact-content {
        padding: 100px 100px;
    }

    .contact-content h3 {
        font-size: 22px;
    }

    .contact-content p {
        font-size: 13px;
    }


    .contact-content form input {
        padding: 12px 22px;
        font-size: 14px;

    }

    .contact-content form button {
        padding: 12px 32px;
        font-size: 14px;
    }
}

/* Mobile Device (320px - 640px) */
/* Categories
    এক কলামে নিচে নিচে অবস্থান করবে। সম্পুর্ন width নিয়ে নিবে।
    ভিতরের কন্টেন্ট গুলো ও এক কলামে নিচে নিচে অবস্থান করবে এবং center aligned থাকবে। ।
    Newsletter
    Input box এবং বাটন এক কলামে নিচে নিচে অবস্থান করবে এবং center aligned থাকবে। */
@media screen and (max-width: 640px) {
    .logo img {
        width: 22vw;
    }

    .menu img {
        width: 8vw;
    }

    .container {
        width: 85%;
    }

    #header {
        margin-top: 22px;
        margin-bottom: 25px;
    }

    #hero-container {
        margin-bottom: 40px;
        padding: 20px;
    }

    .hero-content h1 {
        font-size: 24px;
    }

    .hero-content p {
        font-size: 12px;
        line-height: 17px;
        margin-bottom: 12px;
    }

    .hero-content h2 {
        font-size: 24px;
    }

    .hero-content .btn {
        padding: 6px 28px;
        font-size: 12px;
    }

    .hero-img img {
        width: 56vw;
    }

    .category-items {
        gap: 18px;
    }

    .category-content {
        margin-bottom: 40px;
    }

    .title h3 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .product-card h2 {
        font-size: 22px;
    }

    .label {
        margin-bottom: 40px;
        gap: 18px;
    }

    .label-info h4 {
        font-size: 20px;
    }

    .label-info .btn {
        padding: 8px 16px;
        font-size: 10px;
    }

    .label-card img {
        width: 70%;
        max-height: 200px;
    }

    .contact-content {
        padding: 44px 34px;
    }

    .contact-content h3 {
        font-size: 20px;
    }

    .contact-content form {
        flex-direction: column;

    }

    .contact-content form input {
        width: 100%;
        border-radius: 6px 6px 0 0;
        text-align: center;
    }

    .contact-content form button {
        width: 100%;
        border-radius: 0 0 6px 6px;
    }


}