@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 78.5%;
    margin: 0 auto;
}

p {
    font-family: "Inter", sans-serif;
    color: #4E4E4E;
}

:hover * {
    transition-duration: .25s;
}

#header {
    margin-top: 30px;
    margin-bottom: 60px;
}

.navbar {
    width: 78.5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#hero-container {
    margin-bottom: 60px;
    padding: 50px;
    background-color: #FEEAE9;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content * {
    margin-bottom: 8px;
}

.hero-content h1 {
    font-size: 56px;
    font-weight: bold;
    color: #1F1F1F;
}

.hero-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 80%;
    max-width: 800px;
    margin-bottom: 24px;
}

.hero-content h2 {
    color: #FF136F;
    font-size: 40px;
    font-weight: 500;
}

.hero-content .btn {
    padding: 10px 45px;
    text-transform: uppercase;
    border-radius: 6px;
    background-image: linear-gradient(90deg, #FF589B, #FF136F);
    border: 1px solid #FF589B;
    color: white;
}

.hero-content .btn:hover {
    cursor: pointer;
    background-image: linear-gradient(90deg, #fd4c93, #ee0a61);
    box-shadow: 0 8px 20px #f885b3;
    /* transition-duration: 0.2s; */
}

.hero-img img {
    width: 400px;
}

.category-content {
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;

}

.title h3 {
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: 600;
}

.category-items {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.product-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 46px;
    background-color: aqua;
    width: 33%;
    border-radius: 16px;
}

.product-card:hover {
    cursor: pointer;
    box-shadow: 0 8px 10px #92929280;
}

.product-card h2 {
    font-size: 36px;
    font-weight: 500;
    color: white;
}

#watch {
    background-color: #FF9C35;
}

#watch img {
    width: 68px;
}

#bag {
    background-color: #FF136F;
}

#bag img {
    width: 94px;
}

#shoes {
    background-color: #3F07F8;
}

#shoes img {
    width: 150px;
}

.label {
    margin-bottom: 98px;
    display: flex;
    gap: 24px;
}

.label-card {
    width: 33%;
    border: 1px solid #929292;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 10px #92929230;
}

.label-card:hover {
    cursor: pointer;
    background-color: #92929210;
    box-shadow: 0 8px 10px #929292;
}

.label-card img {
    width: 100%;
    padding: 24px 12px;
}

.label-info * {
    margin-bottom: 16px;
}

.label-info {
    padding: 24px;
    text-align: center;
}

.label-info h4 {
    font-size: 24px;
    font-weight: 600;
    color: #1F1F1F;
}

.label-info .btn {
    padding: 16px 28px;
    margin-bottom: 0;
    background-color: black;
    color: white;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
}

.label-info .btn:hover {
    cursor: pointer;
    box-shadow: 0 8px 10px #929292;
}

.label-info .btn i {
    margin-bottom: 0;
}

.contact-content {
    padding: 146px 220px;
    background-color: #FFF2F1;
    text-align: center;
    margin-bottom: 75px;
    border-radius: 10px;
}

.contact-content h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.contact-content p {
    margin-bottom: 16px;
}

.contact-content form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-content form input {
    padding: 18px 35px;
    flex: 4;
}

.contact-content form button {
    padding: 18px 48px;
    flex: 1;
}

.contact-content form input {
    outline: none;
    font-size: 24px;
    border: 1px solid #CCCCCC;
    border-radius: 6px 0 0 6px;
}

.contact-content form button {
    font-size: 24px;
    font-weight: 500;
    color: white;
    background: linear-gradient(90deg, #FF589B, #FF136F);
    border: 1px solid #FF589B;
    border-radius: 0 6px 6px 0;
}